body {
    font-family: sans-serif;
    background-color: #fff3d0;
    text-align:center;
}

h1 {
    padding-top: 5rem;
    font-size: 3rem;
}

img {
    vertical-align: middle;
    width: 131px;
}

p {
    color: #777;
}

#comments, #disqus_thread {
    margin: 2rem auto;
    max-width: 640px;
}

@media screen and (max-width: 640px)
{ #comments, #disqus_thread { width: 640px; margin: 2rem auto; padding: 18px !important; }}

